table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
td {
    width: 35px;
    height: 35px;
    padding: 0;
}
span {
    width: 100%;
    height: 100%;
    background-color: rgba(209, 209, 209);
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    line-height: 35px;
    cursor: default;
    display: block;
}
button {
    width: 100%;
    height: 100%;
    border-width: 2px;
    border-color: rgba(239, 239, 239);
    cursor: pointer;
    background-color: rgb(229, 229, 229);
    display: block;
}
button:hover {
    background-color: rgba(229, 229, 229, 0.6);
}